body {
    background-color: blue;
}

h1 {
    color: purple;
    margin-left: 20px;
}
body {
 background-color: purple;
}
h1 {
 color: blue;
 text-align: center;
 margin-left: 15px;
 border: 3px
 font: italic 150% fantasy;
}